<launch>

<param name="/use_sim_time" value="true"/>

<node pkg="ethzasl_icp_mapper" type="matcher_service" name="matcher_server" output="screen">
  <param name="config" value="/home/mqdao/ros/src/rev_icp_mapper/launch/icp_dynamic_outdoor.yaml" />
</node>

<node pkg="rviz" type="rviz" name="rviz" args="-d kitti_check_icp.rviz" />

<node pkg="rosbag" type="play" name="player" args="-r 0.1 --clock /home/mqdao/Downloads/KITTI/kitti_2011_09_26_drive_0005_synced.bag" />

<!--
<node pkg="rev_icp_mapper" type="corrected_clouds_publisher" name="corrected_clouds_publisher" output="screen">
  <param name="startup_dropout" value="10" />
  <param name="reading_gap" value="10" />
</node>
-->

<node pkg="rev_icp_mapper" type="icp_odom_node" name="icp_odom_node" output="screen">
  <remap from="cloud_in" to="/kitti/velo/pointcloud" />
  <param name="max_cloud" value="25" />
  <param name="maxOverlapToMerge" value="0.98" />
  <param name="startup_drop" value="1" />
</node>

</launch>